<html>
    <h1>結果: {{.Result}}</h1>
    <p>檔案雜湊值: {{.Hash}}</p>
    <p>交易序號: {{.Txid}}</p>
    <p>回應訊息: {{.Message}}</p>
    <p>回應代碼: {{.Rtnc}}</p>
    <input type ="button" onclick="history.back()" value="回到上一頁"></input>
</html>